@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --extra-dark: #0b0c10;
    --dark: #1f2833;
    --medium: #c5c6c7;
    --light: #45a29e;
    --extra-light: #66fcf1;
}

html,
body {
    background-color: var(--light);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: var(--dark);
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container > h1 {
    text-align: center;
    color: var(--extra-light);
}

.editor-container {
    background-color: var(--medium);
    text-align: center;
    margin: 40px;
    padding: 20px;
}

.previewer-container {
    background-color: var(--medium);
    margin: 40px;
    padding: 20px;
}
